<% if logged_in? %>
  <div class="flex flex-col md:flex-row container mt-32 md:mt-20 container mx-auto">
    <div class="flex flex-col md:w-1/4 mr-5 my-5">
      <div class="flex flex-col text-center bg-white rounded divide-y divide-gray-200 shadow">
        <div class=" flex flex-col p-8">
          <%= gravatar_for(current_user, "gravatar w-32 h-32 flex-shrink-0 mx-auto rounded-full") %>
          <h1 class="mt-6 text-gray-900 text-sm font-medium"><a href="<%= user_path(current_user) %>"><%= current_user.name %></a></h1>
          <dl class="mt-1 flex-grow flex flex-col justify-between">
            <dd class="text-gray-500 text-sm"><%= pluralize(current_user.microposts.count, "fleet") %></dd>
          </dl>
        </div>
        <div>
          <div class="-mt-px stats flex divide-x divide-gray-200">
            <div class="w-0 flex-1 flex">
              <a href="<%= following_user_path(current_user) %>" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                <span class="ml-3 following"><%= current_user.following.count %> Following</span>
              </a>
            </div>
            <div class="-ml-px w-0 flex-1 flex">
              <a href="<%= followers_user_path(current_user) %>" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
                <span class="ml-3 followers"><%= current_user.followers.count%> Followers</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(model: @micropost, local: true, class: "flex flex-col text-center bg-white rounded mt-5 shadow") do |f| %>
        <%= render 'layouts/error_info', object: f.object %>
        <%= f.text_area :content, placeholder: "Compose new fleet...", class: "border-gray-400 border-2 m-5 rounded bg-transparent p-2", cols: "10", rows: "5" %>
        <div class="flex items-center justify-center p-2 mx-5 mb-5 text-blue rounded-lg shadow">
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        </div>
        <%= f.submit "Post", class:"m-5 mt-0 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
    </div>
    <div class="p-5 my-5 shadow rounded flex-1 bg-white">
      <h3 class="text-3xl font-bold py-5">Feed</h3>
      <%= render 'layouts/feed' %>
    </div>
  </div>
<% else %>
  <div class="bg-gray-50 flex min-h-screen items-center justify-center">
    <div class="bg-white w-full sm:w-1/2 mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8 rounded shadow-md">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block">Welcome to Flitter</span>
        <span class="block text-lg">Sign Up to start posting!</span>
      </h2>
      <div class="mt-8 flex justify-center">
        <div class="inline-flex rounded-md shadow">
          <%= link_to "Sign Up", signup_path, 
            class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base 
                   font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
        %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
  const imageInput = document.querySelector('#micropost_image');
  imageInput.addEventListener('change', (e) => {
    console.log("image", e.file)
    const size_in_megabytes = e.target.files[0].size/1024/1024;
    console.log(size_in_megabytes);
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      e.target.value = ""
   }
  })
</script>
