<%= provide(:title, @user.name) %>
<div class="mt-20 container mx-auto flex w-full flex-col justify-center">
  <div class="flex flex-col text-center bg-white rounded w-full divide-y divide-gray-200 shadow">
    <div class="flex-1 flex flex-col p-8">
      <%= gravatar_for(@user, "gravatar w-32 h-32 flex-shrink-0 mx-auto rounded-full") %>
      <h1 class="mt-6 text-gray-900 text-sm font-medium"><%= @user.name %></h1>
      <dl class="mt-1 flex-grow flex flex-col justify-between">
        <dd class="text-gray-500 text-sm"><%= @user.email %></dd>
      </dl>
      <%= render "follow_form" if logged_in? %>
    </div>
    <div>
      <div class="-mt-px flex divide-x divide-gray-200">
        <div class="w-0 flex-1 flex">
          <a href="<%= following_user_path(@user) %>" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
            <span class="ml-3 following"><%= @user.following.count %> Following</span>
          </a>
        </div>
        <div class="-ml-px w-0 flex-1 flex">
          <a href="<%= followers_user_path(@user) %>" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
            <span class="ml-3 followers"><%= @user.followers.count%> Followers</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="m-5 p-5 container shadow rounded bg-white container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl py-5"><%= "Fleet".pluralize(@user.microposts.count) %> (<%= @user.microposts.count %>)</h2>
    <ul role="list">
      <%= render @microposts%>
    </ul>
    <%= will_paginate @microposts %>
  </div>
</div>
