<%# <div> %>
<%# <ul role="list" class="divide-y divide-gray-200"> %>
<li class="py-4">
  <div class="flex space-x-3">
    <%= gravatar_for(micropost.user) %>
    <div class="flex-1 space-y-1">
      <div class="flex items-center justify-between">
        <h3 class="text-sm font-medium hover:text-indigo-600"><%= link_to micropost.user.name, micropost.user %></h3>
        <p class="text-sm text-gray-500">
          <% if current_user?(micropost.user) %>
            <%= link_to micropost, class:"delete-micropost", method: :delete,
                                       data: { confirm: "You sure?" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
          <% end %>
        </p>
      </div>
      <p class="text-sm text-gray-500">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </p>
      <p class="shadow-md p-4 rounded-lg">
        <%= micropost.content %>
        <span class="w-40 h-40">
          <% if micropost.image.attached? %>
            <%= image_tag micropost.image, class: "w-40" %>
          <% end %>
        </span>
      </p>
    </div>
  </div>
  <%# </li> %>
  <!-- More items... -->
  <%# </ul> %>
  <%# </div> %>
