<nav class="bg-white shadow fixed top-0 w-full z-40">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center sm:flex-row justify-between lg:h-16">
      <%= link_to "Flitter", root_path, id: "logo", class: "text-indigo-600 font-bold text-4xl" %>
      <div class="sm:ml-6 flex items-center">
        <div class="h-16 flex">
          <div class="sm:ml-6 flex sm:space-x-8">
            <%= link_to "Home", root_path, class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
            <% if logged_in? %>
              <%= link_to "Users", users_path, class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
              <%= link_to "Profile", current_user, class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
              <%= link_to "Settings", edit_user_path(current_user), class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
              <%= link_to "Log Out", logout_path, method: :delete, class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
            <% else %>
              <%= link_to "Log In", login_path, class: "hover:text-indigo-500 inline-flex items-center px-1 pt-1 text-sm font-medium" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
